### Notebook settings

In [14]:
# importing modules
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter('ignore')
import os
# fuzzy matching modules
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# setting display settings
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [15]:
# importing progress bar module
from tqdm import tqdm, tqdm_pandas, tnrange, tqdm_notebook
tqdm.pandas()

In [16]:
# setting up excel spreadsheet
path = 'fuzzy.xlsx'
writer = pd.ExcelWriter(path, engine='xlsxwriter')

### Importing data

In [1]:
# herer is a toy example, i would normally be using a dataframes and convert the two series i am interested in matching into list ie ser.tolist()
# i would then use the output index to merge the original dataframes together, there is probs a better way to do it but this
# works for me

companies_a = ['Hatch Regeneris', 'Krispy Kreme', 'Alex Lewzey', 'Sports Direct', 'Manchester City Council', 'Aldi', 'Autotrader Ltd', 'PyData']

companies_b = ['Regeneris', 'Krispy Cream', 'Alexander Lewzey', 'Sports Direct Ltd', 'Manchester Council', 'Lidl', 'Autotrader Limited', 'PieData']

### Finding matches

In [19]:
# finding the best match for each entry
def fuzzy_match_index(iterable, lookup, iterable_name='iterable', lookup_name='lookup'):
    """
    Return a dataframe of two fuzzy matched lists with fuzz score where the iterable contains 
    the individual items that are searched for in the lookup list.
    """
    matched_data = []
    for item in tqdm(iterable): # data b is the short list

        new_cln = [item]
        new_cln.extend(process.extractOne(item, lookup, scorer=fuzz.ratio))
        newtuple = tuple(new_cln)

        matched_data.append(newtuple)

    df_matched_data = pd.DataFrame(matched_data)
    df_matched_data.columns = [iterable_name, lookup_name, 'fuzz ratio']
    
    return df_matched_data

In [20]:
results = fuzzy_match_index(companies_a, companies_b, 'companies_a', 'companies_b')

100%|██████████████████████████████████████████████████████████████████████████████████| 8/8 [00:00<00:00, 3986.98it/s]

In [21]:
results.sort_values('fuzz ratio', ascending=False)

               companies_a         companies_b  fuzz ratio
4  Manchester City Council  Manchester Council          88
6           Autotrader Ltd  Autotrader Limited          88
3            Sports Direct   Sports Direct Ltd          87
1             Krispy Kreme        Krispy Cream          83
2              Alex Lewzey    Alexander Lewzey          81
7                   PyData             PieData          77
0          Hatch Regeneris           Regeneris          75
5                     Aldi                Lidl          50

### Exporting the data

In [22]:
results.to_clipboard(index=False)

In [23]:
writer.save()
writer.close()